body {
  padding: 0;
  font-family: sans-serif;
}

.form-control {
  max-width: 300px;
  margin: 0 auto;
}

.App-title {
  padding-top: 10px;
}

.SearchSystem {
  margin: 5px;
}

.AvatarContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.AvatarImg {
  width: 100px;
  margin: 5px;
  cursor: pointer;
}

.SearchButton {
  margin-top: 10px;
}

.MoreButton {
  margin-top: 10px;
  margin-bottom: 20px;
}
